<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="icon" href="../../img/branding/isotype.svg" type="image/svg">
    <title>Create | Funkoshop</title>
</head>

<body>
    <%- include ('../partials/header') %>
        <main class="edit container">
            <h1 class="edit__title">CREAR NUEVO ITEM</h1>
            <form class="edit__form" action="/admin/create" method="POST" target="_self" enctype="multipart/form-data">
                <div class="form__field">
                    <label class="form__label" for="category">Categoría:</label>
                    <select class="form__select--category" id="category" name="category" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <% categories.forEach(category=>{%>
                            <option value="<%= category.category_id %>">
                                <%= category.category_name %>
                            </option>
                            <%}) %>
                    </select>
                    <label class="form__label" for="license">Licencia:</label>
                    <select class="form__select--license" id="license" name="license" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <% licenses.forEach(license=>{%>
                            <option value="<%=license.licence_id %>">
                                <%= license.licence_name %>
                            </option>
                            <%}) %>
                    </select>
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Nombre del producto:</label>
                    <input class="form__input--product" type="text" name="name" id="name"
                        placeholder="Luna Lovegood Lion Mask" required>
                </div>
                <textarea class="form__textarea--edit" name="description" id="" rows="7"
                    placeholder="Descripción del producto" required></textarea>
                <div class="form__field">
                    <label class="form__label" for="sku">SKU:</label>
                    <input class="form__input--sku" type="text" name="sku" id="sku" placeholder="SSK111AB001" required>
                    <label class="form__label" for="price">Precio:</label>
                    <div class="form__input--wrapper"><span>$ </span><input class="form__input--price" type="number"
                            name="price" id="price" placeholder="0.000,00" step="0.01" min="0" required></div>
                    <label class="form__label" for="stock">Stock:</label>
                    <input class="form__input--stock" type="number" name="stock" id="stock" placeholder="0" min="0"
                        required>
                </div>
                <div class="form__field">
                    <label class="form__label" for="discount">Descuento:</label>
                    <div class="form__input--wrapper"><input class="form__input--discount" type="number" name="discount"
                            id="discount" placeholder="0"><span>%</span></div>
                    <label class="form__label" for="dues">Cuotas:</label>
                    <select class="form__select--dues" id="dues" name="dues">
                        <option value="0">Sin cuotas</option>
                        <option value="3">3 cuotas sin interés</option>
                        <option value="6">6 cuotas sin interés</option>
                        <option value="9">9 cuotas sin interés</option>
                        <option value="12">12 cuotas sin interés</option>
                        <option value="18">18 cuotas sin interés</option>
                        <option value="24">24 cuotas sin interés</option>
                    </select>
                </div>
                <div class="form__field">
                    <label class="form__label" for="productImage">Imágenes:</label>
                    <input class="form__input-img" type="file" name="productImages" id="productImages" multiple
                        required>
                </div>
                <div class="form__buttons">
                    <input class="form__submit" type="submit" value="Agregar Producto">
                    <input class="form__submit" type="reset" value="Limpiar">
                </div>
            </form>
        </main>
        <%- include ('../partials/footer') %>
</body>

</html>