<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="icon" href="../../img/branding/isotype.svg" type="image/svg">
    <title>Editar Item | Funkoshop</title>
</head>

<body>
    <%- include ('../partials/header') %>
        <main class="edit container">
            <h1 class="edit__title">EDITAR ITEM</h1>
            <form class="edit__form" action="/admin/edit/<%= product.product_id %>?_method=PUT" method="POST"
                target="_self" enctype="multipart/form-data">
                <div class="form__field">
                    <label class="form__label" for="category">Categoría:</label>
                    <select class="form__select--category" id="category" name="category" required>
                        <% categories.forEach(category=> {%>
                            <option <% if (product.category_id===category.category_id) {%> selected <%} %> value="<%=
                                        category.category_id %>"> <%= category.category_name %>
                            </option>
                            <%}); %>
                    </select>
                    <label class="form__label" for="license">Licencia:</label>
                    <select class="form__select--license" id="license" name="license" required>
                        <% licenses.forEach(license=> {%>
                            <option <% if (product.licence_id===license.licence_id) {%> selected <%} %> value="<%=
                                        license.licence_id %>"> <%= license.licence_name %>
                            </option>
                            <%}); %>
                    </select>
                </div>
                <div class="form__field">
                    <label class="form__label" for="name">Nombre del producto:</label>
                    <input class="form__input--product" type="text" name="name" id="name"
                        value="<%= product.product_name %>" required>
                </div>
                <textarea class="form__textarea--edit" name="description" id="" rows="7"
                    required><%= product.product_description %></textarea>
                <div class="form__field">
                    <label class="form__label" for="sku">SKU:</label>
                    <input class="form__input--sku" type="text" name="sku" id="sku" value="<%= product.sku %>" required>
                    <label class="form__label" for="price">Precio:</label>
                    <div class="form__input--wrapper"><span>$ </span><input class="form__input--price" type="number"
                            name="price" id="price" step="0.01" min="0" value="<%= product.price %>" required></div>
                    <label class="form__label" for="stock">Stock:</label>
                    <input class="form__input--stock" type="number" name="stock" id="stock" min="0"
                        value="<%= product.stock %>" required>
                </div>
                <div class="form__field">
                    <label class="form__label" for="discount">Descuento:</label>
                    <div class="form__input--wrapper"><input class="form__input--discount" type="number" name="discount"
                            id="discount" value="<%= product.discount %>"><span>%</span></div>
                    <label class="form__label" for="dues">Cuotas:</label>
                    <select class="form__select--dues" id="dues" name="dues">
                        <option <% if (product.dues===0) {%>selected<%} %> value="0" >Sin cuotas</option>
                        <option <% if (product.dues===3) {%>selected<%} %> value="3" >3 cuotas sin interés
                        </option>
                        <option <% if (product.dues===6) {%>selected<%} %> value="6" >6 cuotas sin interés
                        </option>
                        <option <% if (product.dues===9) {%>selected<%} %> value="9" >9 cuotas sin interés
                        </option>
                        <option <% if (product.dues===12) {%>selected<%} %> value="12" >12 cuotas sin interés
                        </option>
                        <option <% if (product.dues===18) {%>selected<%} %> value="18" >18 cuotas sin interés
                        </option>
                        <option <% if (product.dues===24) {%>selected<%} %> value="24" >24 cuotas sin interés
                        </option>
                    </select>
                </div>
                <div class="form__field">
                    <label class="form__label" for="productImage">Imágenes:</label>
                    <input class="form__input-img" type="file" name="productImages" id="productImages" multiple>
                </div>
                <div class="form__field">
                    <picture class="form__picture">
                        <img src="/img<%= product.image_front %>" alt="<%= product.product_description %>">
                        <span>Frente</span>
                    </picture>
                    <picture class="form__picture">
                        <img src="/img<%= product.image_back %>" alt="<%= product.product_description %> en caja">
                        <span>Dorso</span>
                    </picture>
                </div>
                <input class="form__submit" type="submit" value="Modificar Producto">
            </form>
        </main>
        <%- include ('../partials/footer') %>
</body>

</html>